@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Syncopate);

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

a {
    text-decoration-line: none;
    color: #a8673c;
}

a:hover {
    font-weight: bold;
}

li {
    display: inline-block;
    padding-left: 30px;
    font-family: "Syncopate", sans-serif;
}

.menu ul li {
    padding-top: 10px;
}

.menu, .reseaux {
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
    padding-right: 5.1%;
}

h1, .info{
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.background {
    background-image: url(img/fall.jpg);
}

nav {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile_pix img {
    width: auto;
    height: 400px;
    border-radius: 30px;
    padding: 30px;
}

.home {
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    font-weight: bold;
    
}

span {
    text-transform: uppercase;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-bottom: 30px;
}

.presentation, .reconversion, .passion {
    height: 365px;
    width: 335px;
    padding: 30px;
    background: #dad0cb;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
}

#projets {
    padding: 30px;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 10px;
}

.projet1, .projet2, .projet3, .projet4, .projet5, .projet6, .projet7, .projet8 {
    height: 365px;
    width: 335px;
    padding: 30px;
    background: #dad0cb;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
}

#contact {
    padding: 50px;
}

#titre_contact {
    padding-bottom: 30px;
}

.contact_list {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.contact_list ul li a {
    padding-bottom: 10px;
    border-bottom: 1px solid #a8673c;
}

footer {
    background-color: #dad0cb;
    padding: 30px;
}

.copyright, .codeyourplanet, .photo_bg {
    display: flex;
    justify-content: center;
}

.codeyourplanet, .photo_bg, button {
    padding-top: 15px;
}

.cv {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    border-bottom: 1px solid #a8673c;
}

